@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-100: #efefef;
  --gray-200: #d8d8d8;
  --gray-300: #707070;

  --primary: #a18a68;

  --font-sans: 'DM Sans', sans-serif;

  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;

  --shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
